/** {
	border: 1px solid black;
}*/

* {
	color: #000000;
	font-weight: bold;
}

img {
	height: 150px;
	width: 165px;
	cursor: pointer;
}

#headerDiv {
	background: url(../images/potions.jpg), #f4a460;
	color:#D3D3D3; 
	background-size: cover;
	background-repeat: no-repeat;
	height:230px;
	margin-top:10px;
}

#heading {
	color: rgb(255,247,247);
	line-height: 110%;
	font-size: 3.5vw;
	display:table;
	margin:0 auto;
	padding:5px;
}

body {
	background-repeat: no-repeat;
	background-size: cover;

}

.panel {
	background-color:#f4a460;
	opacity:0.8;
	color: black;
	font-weight:bold;
	font-size: 25px;

}


