/** {
	border: 1px solid black;
}*/

* {
	color: #000000;
	font-weight: bold;
}

img {
	height: 150px;
	width: 165px;
	cursor: pointer;
}

body {
	background-repeat: no-repeat;
	background-size: cover;

}

.panel {
	background-color:#f4a460;
	opacity:0.5;
	filter: alpha(opacity = 50);
	color: black;
	font-weight:bold;
	font-size: 25px;

}

/*span {
	background-color:#f4a460;
	color: #000000;
	font-weight:bold;
	font-size: 25px;
}*/

/*p.total-score-text {
	color: #fff;
}

div.total-score {
	color: #fff;
}*/
